@page "/About"
@model YouTubeDownloader.RazorPages.Pages.AboutModel
@{
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>
        This website allows you to download MP3 and MP4 files in the highest quality from websites such as YouTube, Facebook, X (Twitter) and over 1000 others.<br />
        You can view the full list of supported websites <strong><a href="https://github.com/yt-dlp/yt-dlp/blob/2301b5c1b77a65abbb46b72f91e1e4666fd5d985/supportedsites.md" target=”_blank”>here</a></strong>.
    </p>
    <p>
        This website is an open-source project made by Ekas.<br />
        Click <strong><a href="https://github.com/Ekas-118/YouTubeDownloader" target=”_blank”>here</a></strong> to view the GitHub repository.
    </p>
</div>