@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    /* Hide radio buttons */
    .btn-group .btn-check {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-bottom: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .btn-group .btn-check:checked + label {
        background-color: #007bff;
        color: #fff;
    }
</style>

<div class="text-center">
    <h1 class="display-4">YouTube Downloader</h1>
    <p>Download highest quality video and audio from many websites</p>
</div>

<form method="post" id="mainForm">
    <div class="input-group">
        <label class="form-text" for="URL">URL:</label>
        <input class="form-control mx-2" type="url" placeholder="Enter URL" asp-for="URL" id="URL" required />
        <button id="dlButton" type="submit" class="btn btn-primary" onclick="enableLoading()">Download</button>
        <div class="spinner-border mx-2 mt-1 text-primary" id="loading" style="visibility:hidden" role="status">
            <span class="sr-only">Downloading...</span>
        </div>
    </div>

    <span asp-validation-for="URL" class="text-danger"></span>

    <div class="d-flex justify-content-center">
        <div class="btn-group my-3" role="group">
            <input type="radio" class="btn-check" name="SelectedFileType" id="MP3" value="MP3" checked>
            <label class="btn btn-primary mr-3" for="MP3">MP3</label>

            <input type="radio" class="btn-check" name="SelectedFileType" id="MP4" value="MP4">
            <label class="btn btn-primary rounded-0" for="MP4">MP4</label>
        </div>
    </div>
    <!--
    <div class="container">
        <h2 class="row justify-content-center">
            <button class="col-2 btn btn-block btn-light border-dark rounded-pill" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Advanced <i class="arrow"></i>
            </button>
        </h2>
    </div>

    <div>
        <div id="collapseOne" class="collapse">
            <div class="card bg-light p-4">
                <div id="MP3settings">mp3</div>
                <div id="MP4settings">mp4</div>
            </div>
        </div>
    </div>
    -->
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var radioButtons = document.querySelectorAll('input[name=SelectedFileType]');
        var mp3Settings = document.getElementById('MP3settings');
        var mp4Settings = document.getElementById('MP4settings');

        mp4Settings.style.display = 'none';

        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', function () {
                var elementToToggle;

                if (this.value == "MP3") {
                    elementToToggle = mp3Settings;
                }
                else {
                    elementToToggle = mp4Settings;
                }

                mp3Settings.style.display = 'none';
                mp4Settings.style.display = 'none';

                elementToToggle.style.display = 'block';
            });
        });
    });

    function enableLoading() {
        var mainForm = document.getElementById("mainForm");

        if (mainForm.checkValidity()) {
            var div = document.getElementById("loading");
            div.style.visibility = "visible";

            var button = document.getElementById("dlButton");
            button.disabled = true;
        }
    }
</script>
